node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Firebase API KEYs
firebaseAPIkey.js

## Web hosting

.firebaserc
.firebasejson

# macOS
.DS_Store
